.about.section {
    padding: 0;
    padding-top: 7em;
}
.about {
    height: auto;
    position: relative;
    z-index: 1;
    min-height: 100vh;
    color: white;

    .mision {
        .item {
            font-size: 0.7em;
            padding: 1em;
            max-width: 500px !important;

            .text {
                text-align: left !important;
            }
        }
    }

    .final {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 4em;
        width: 100%;
        flex-direction: column;
        background: white;
        position: relative;
        z-index: 1;
        .title {
            font-size: 2.5em;
            background: white;
            color: black;
            padding: 1em 3em;
        }

        .item {
            font-size: 0.7em;
            padding: 1em;
            max-width: 500px;

            .text {
                text-align: left;
            }
        }

        .slidesx {
            width: 100%;
            padding-bottom: 6em;
            .card {
                margin: .5em;
                color: #353030;

                &-text {
                    text-align: left;
                }

                &-body {
                    min-height: 220px;
                    display: flex;
                    flex-direction: column;
                }

                &-title {
                    font-weight: bold;
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 4em;



        .item {
            font-size: 0.7em;
            padding: 1em;
            max-width: 700px;

            .text {
                text-align: center;
            }
        }
    }

    .background {
        background-image: url('https://www.dajalacerrosycordilleras.com/images/enredadera1.png');
        width: 100%;
        height: 270px;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .back {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: -1;

        img {
            max-width: inherit;
            width: auto;
        }
    }
}