// Fonts
@import url('https://fonts.googleapis.com/css?family=fonts.googleapis.com/css?family=Pacifico%7CLato:400,100,100italic,300,300italic,700,400italic,900,700italic,900italic%7CMontserrat:400,700|Ranga&display=swap');


// Variables
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import './header.scss';
@import './landing.scss';
@import './about.scss';

// Bootstrap
$primary: #31c593;
$primary-rgb: rgba(49, 197, 147, 0.5);
$transparent: rgba(255,255,255,.2);
$blackcolor:rgb(97, 97, 97);
body,
html {
    height: 100%;
    width: 100%;
    font-family: 'Lato';
    background: white;
    color: rgb(97, 97, 97)
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    a {
        color: #31c593;
    }
}
.construccion {
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
    }

    .content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(2, 35, 26, 0.74);
        padding: 1em;
        position: relative;
        .card {
            padding: 1em;
            max-width: 400px;
            width: 100%;
            min-height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            color: white;
            border-color: inherit;

            @media screen and (max-width: 768px) {
                font-size: 12px;
                max-width: 330px;
                min-height: 330px;
            }

            h1 {
                font-family: 'Ranga';
                font-size: 10em;
                margin-bottom: 0;
                line-height: 0.9;
            }

            h2 {
                font-family: 'Ranga';
            }

            h3 {
                margin-top: 2em;
            }
        }
    }
}
.green {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
    &:hover {
        background: $primary;
    }
}
.greenb {
    color: white;
    background: $primary;
}
.button {
    padding: 0.5em 2em;
    font-size: 1.2em;
    border-radius: 0.2em;
    text-align: center;
    max-width: 200px;
    width: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    transition: all ease-in-out .3s;
    @media screen and (max-width: 540px) {
        width: 100%;
        margin: 1em;
        max-width: inherit;
    }
}
.input {
    padding: .5em 1em;
    font-size: 1.2em;
    border-radius: .2em;
    text-align: center;
    max-width: 350px;
    width: 100%;
    margin-bottom: 1.5em;
    transition: all ease-in-out .3s;
    @media screen and (max-width: 540px) {
        width: 100%;
        margin: 1em;
        max-width: inherit;
    }
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
.input.transparent {
    color: #fff;
    background: $transparent;
    border-color: $transparent;
    &:focus {
        outline: 0;
        box-shadow: 0 1px 13px $primary-rgb;
    }
    &::placeholder {
        color: white;
    }
}