.Product{
    max-width: 200px;
    width: 100%;
    padding: .5em;
    margin: .5em;
    border: 1px solid #e9ecef;
    min-height: 200px;
    position: relative;
    img{
        width: 100%;
        border-bottom: 1px solid #e9ecef;
        margin-bottom: .5em;
    }
    &-name{
        text-transform: capitalize;
        color: #31c592;
        font-weight: bold;
        text-align: center;
        font-size: 1.1em;
    }
    &-price{
        margin: 0;
        font-size: 1.1em;
    }
    .badge{
        font-size: 0.8em;
        position: absolute;
        top: 0;
        right: 0;
        margin: .5em;
    }
}